@import "../../scss/variables";
@import "../../scss/mixins";


.navbar{
    background-color: $cardNavBgColor;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 1rem;
    //Navbar scroll olsa bile sabit kalır
    position: fixed;
    width: 100%;
    top: 0;
    //scroll olunca hep en üstde kalır z-index sayesinde
    z-index: 4;
    
    .link{
        display: flex;
        font-size: 1.5rem;
        justify-content: flex-end;
        gap: 2%;

        a{
            text-decoration: none;
            color: $secondaryColor;
            padding: 0.5rem;
    
            &:hover{
                background-color:$secondaryColor;
                color: $cardNavBgColor;
                border-radius: 5px;
                transition: all 0.5s;
            }
        }
        
    }




    img{
        width: 100px;
        height: 100px;
    }
   
    

}
@include media-xsm{
    .link{
        flex-direction: column;
    }
}

@include media-lg{
    .link{
        flex-direction: row;
    }
}
