* {
    margin: 0;
    padding: 0;
}
body, html {
    height: 100%;
  }
  
  .parallax {
    /* The image used */
    background-image: url('./assets/img/bg.jpg');
  
    /* Full height */
    height: 100%; 
  
    /* Create the parallax scrolling effect */
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    display: block;
    justify-content: center;
    align-items: center;
    opacity: 0.5;
  }
  .parallax {
    background-image: url(./assets/img/bg.jpg);
    min-height: 100%;
  }