* {
    margin: 0;
    padding: 0;
    font-family: 'Poppins', sans-serif;
    box-sizing: border-box;
    list-style-type: none;
}
header{
    display: flex;
    justify-content:space-between;
    
    padding: 2rem;
    flex-wrap: wrap;
    background-color: #35424a;
}
.header__logo{
    font-size:2.5rem;
}
nav{
    display: block;
}
.header__logo span{
    color: #d13ea0;
    font-weight: 700;
}
.header__list {
    display: flex;
    padding: 1rem;
}
.header__list a{
    padding: 0.5rem;
    font-size: 1.4rem;
    opacity: 0.7;
}
a{
    color: white;
    text-decoration: none;  
}
li{
    display: list-item;
    text-align: center;
    font-size: 14px;
}
a li:hover{
    color: #d13ea0;  
}
.banner{
    
    align-items: center;
    background-image: url(./img/showcase.jpg);
    height: 40rem;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
}
.banner__text{
    color: white;
    position: absolute;
    text-align: center;
    top: 25%;
    left: 5%;
}
.banner__text h2{
    font-size: 2rem;
    padding: 10px;
}