*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;

}
body {
    background-color: #3d64e6;
}
.container {
    background-color: #ffffff;
    padding: 3rem  2.5rem;
    position: absolute;
    transform: translate(-50%,-50%);    
}