*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family:Arial, Helvetica, sans-serif;

}
body {
    background-color: #3d64e6;
}
.container {
    background-color: #ffffff;
    width: 80vh;
    max-width: 37.5em;
    padding: 3rem  2.5rem;
    position: absolute;
    transform: translate(-50%,-50%);  
    top: 50%;
    left: 50%;
    border-radius: 10px;
    box-shadow: 0 1.25em 1.8em rgba(0.25,8 green,21 blue,65 alpha);

}
.search-wrapper {
    display: grid;
    grid-template-columns: 9fr 3fr;
    gap: 1.25em;
}
.search-wrapper button{
    font-size: 1em;
    background: #3d64e6;
    padding: 0.8em ;
    border: none;
    color: beige;
    border-radius: 1.5em;
}
.search-wrapper input {
    font-style: 1em;
    padding: 0 0.63em;
    border: none;
    border-bottom: 2px solid #3d64e6;
    color: #222a43;

}
#result{
    margin-top: 1.25em;
}
.container .flag-img {
    display: block;
    width: 45%;
    min-width: 7.5em;
    margin: 1.8em auto 1.2em auto;
}
.container h2{
    font-weight: 600;
    color: #222a43;
    text-align: center;
    text-transform: uppercase;
    letter-spacing: 2px;
    margin-bottom: 1.8em;
}
.data-wrapper {
    margin-bottom: 1em;
    letter-spacing: 0.3px;
}
.container h4 {
    display: inline;
    font-family: 'Poppins', sans-serif;
    font-weight: 600;
    color: #222a43;
}
.container span {
    color: #5d6274;
}
.container h3{
    text-align: center;
    font-weight: 600;
    display: inline;
    font-family: 'Poppins', sans-serif;
    font-size: 1.2em;
    color: #ff465a;
}