*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.App{
  
  display: flex;
  flex-direction: column;
  align-items: center;
}

.task-create{
  width: 450px;
}

.task-form {
  display: flex;
  flex-direction: column;
}
.task-label{
  margin: 10px 0px;
}
.task-input{
  padding: 10px;
  border: 1px solid black;
  border-radius: 10px;
}
.task-button {
  margin: 10px 0px;
  padding: 10px;
  border: 1px solid green;
  background-color: green;
  color: white;
  border-radius: 10px;
  font-size: 20px;
}