*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

    .main{
        background-color: black;
        max-width: 500px;
        height: 840px;
        color: white;
        border-radius: 50px;
        margin: auto;
        display: grid;
        
    }
    .screen{
        width: 75%;
        height: 20%;
        background-color: blueviolet;
        margin: 60px auto 5px;
        text-align:right;
        padding: 60px;
        border-radius: 10px;
        
    }
    .container{
        background-color: rgb(4, 4, 102);
        
    }

  